html,
body {
    background: rgb(33, 32, 36);
    background: linear-gradient(120deg, rgba(30, 30, 30, 1) 0%, rgba(20, 20, 20, 1) 100%);
}

.seller {
    font-family: monospace;
    color: rgb(100, 92, 117);
    cursor: text;
}

.holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.textiboi {
    text-align: center;
    color: rgb(100, 92, 117);
    font-family: monospace;
}

.textiboi:hover {
    color: rgb(179, 167, 204);
}

.header {
    text-align: center;
    color: rgb(100, 92, 117);
    font-family: monospace;
}

.header a {
    text-decoration: none;
}

.hoverr:hover a {
    color: rgb(179, 167, 204);
}

.header:hover {
    text-align: center;
    color: rgb(179, 167, 204);
    font-family: monospace;
}

.container:hover .seller {
    color: rgb(179, 167, 204);
}

.container:hover a {
    color: rgb(179, 167, 204);
}

.a {
    text-align: center;
    color: rgb(179, 167, 204);
    font-family: monospace;
}

.header:hover a {
    text-align: center;
    color: rgb(179, 167, 204);
    font-family: monospace;
}

.icon {
    color: rgb(100, 92, 117);
}

.icon i {
    font-size: 80px;
}

.container {
    text-align: center;
    margin: 5px 20px;
    float: left;
}

a {
    color: rgb(100, 92, 117);
}

.container:hover .icon {
    color: var(--icon-color);
    font-size: 20px;
}

.container:hover .seller {
    color: rgb(179, 167, 204);
}

.container:hover a {
    color: rgb(179, 167, 204);
}